body{
    margin:auto;
}
/*Header css*/

#header{

    height: 60px;
   background-color: #d2a08c;
  
}
#logo{
    font-size: 30px;
    color: rgb(44, 11, 135);
  
 

}
a{
    text-decoration: none;
}
.s img{
    height: 50px;
    width: 50px;
   
}
#test1{
    height:100px;
    width: 100px;
   background-color: blue;
 

}
#test2{

    height: 100px;
    width: 100px;
    background-color: rgb(208, 43, 226);
    margin-top: 5%;
    margin-left: 5%;
    position: static;
    border-top-left-radius: 0%;

}
div{
    border-style: groove black;
}
 
  



/*search css*/
#search{
    height: 450px;
    width: 100%;
    
    background-size: cover;
    background-repeat: no-repeat;
}
   

#quick search{
    height: 600px;
    border: 3px groove orangered;

}
#footer{
    height: 600px;
   
}
#img{
    border-color: blueviolet;
    border-style: groove;
}
/*
#text{
    height: 60px;
    width: 60px;
    background-color: skyblue;
    border:3px groove orangered;
    margin-left:30%;
    margin-top:5%;
    margin-left: 20%;
    padding: 25;

}

